<!DOCTYPE html>
<html class="<%= controller_name == 'welcome' ? 'welcome' : 'all' %>">
<head>
  <title>Reel</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<div class="container">
  <% if user_signed_in? %>
    <%= render 'shared/nav' %>
    <div class="u-padding-xl"></div>
  <% end %>
  <%= yield %>
</div>
<div class="u-padding-xl"></div>

</body>
</html>
