<!DOCTYPE html>
<html class="<%= controller_name == 'welcome' ? 'welcome' : 'all' %>">
<head>
  <title>Reel</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>

<%= render 'shared/nav' %>

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
      </li>
      <li>
        <%= link_to 'Suggest Me!', suggestion_path, class: 'suggest-me-btn loading-trigger' %>
      </li>
      <div class="u-padding-sm"></div>
      <% @genres.each do |g| %>
        <li>
          <%= link_to g.name, genre_path(g) %>
        </li>
      <% end %>
      <div class="u-padding-md"></div>
    </ul>
  </div>


  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="u-padding-xl"></div>
      <%= yield %>
    </div>
  </div>
</div>

<div id="loading">
  <div class="loading-text-container">
    <p class="spinner">
      <%= fa_icon "spinner", class: "fa-spin" %>
    </p>
    <p class="loading-text">
      Making a lot of calculations.
      <br>
      Please wait while we tailor suggestions.
      </p>
  </div>
</div>

<div class="u-padding-xl"></div>
</body>
</html>
