<!DOCTYPE html>
<html class="<%= controller_name == 'welcome' ? 'welcome' : 'all' %>">
<head>
  <title>Reel</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>

<%= render 'shared/nav' %>

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
      </li>
      <li>
        <%= link_to 'Trending', trending_movies_path %>
      </li>
      <li>
        <%= link_to 'Popular', popular_movies_path %>
      </li>
      <li>
        <%= link_to 'Upcoming', upcoming_movies_path %>
      </li>
      <li>
        <%= link_to 'Releases', movie_releases_path %>
      </li>
      <div class="u-padding-md"></div>
    </ul>
  </div>


  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="u-padding-xl"></div>
      <%= yield %>
    </div>
  </div>
</div>

<div class="u-padding-xl"></div>
</body>
</html>
